body{
    background-color: rgb(211, 175, 143);
    width: 50%;
    margin: auto;
}

.nav{
    list-style: none;
}

.container{
    background-color: white;
    width: 300px;
    padding-bottom: 200px;
    margin: auto;
    margin-top: 30px;
}

.perfil{
    display: flex;
    justify-content: center;
    color: gray;
}

.profile{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
}

.profile img{
    border-radius: 50%;
}